.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
    padding: 20px;
}

.card {
    width: 850px;
    height: 500px;
    display: flex;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/*********** LEFT SIDE *********/
.leftSide {
    flex: 1;
    background: linear-gradient(132deg, #6f6258, var(--color-primary));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.leftSide h1 {
    font-family: var(--font-heading);
    font-size: 3rem;
    margin-bottom: 15px;
    color: var(--color-white);
}

.leftSide p {
    font-size: 1rem;
    line-height: 1.5;
}

/************ RIGHT SIDE **************/
.rightSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********** LOGIN FORM ****************/
.loginForm {
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.loginForm input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#passwordInput {
    position: relative;
    display: flex;
    flex-direction: column;
}

.passwordInput input {
    width: 100%;
    padding: 12px;
    padding-right: 45px;
}

#showPasswordBtn {
    position: absolute;
    right: 10px;
    top: 32px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLogin {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #7a5a42;
    color: white;
    cursor: pointer;
}

.btnLogin:hover {
    background-color: var(--color-muted);
}


@media (max-width: 500px) {
    .card {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .leftSide {
        padding: 30px;
        text-align: center;
    }

    .leftSide h1 {
        font-size: 2rem;
    }

    .rightSide {
        padding: 20px;
    }

    .loginForm {
        width: 100%;
        max-width: none;
    }

    #showPasswordBtn {
        top: 32px;
    }
}