.sidebar {
    background-color: var(--color-primary);
    border-right: 1px solid var(--color-border);
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 24px 28px;
    display: flex;
    position: sticky;
    top: 0;
}

.sidebar a {
    color: var(--color-secondary);
}

.sidebar a:hover {
    color: var(--color-accent);
}

.dashboardBody {
    padding: 24px 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titleContaner {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.titleContaner h1 {
    margin: 0;
}

.titleContaner h3 {
    margin: 10px 0;
  }

.dashboardCardsContainer {
    display: flex;
    gap: 10px;
    width: 100%;
}

.dashboardCards {
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
}

.dashboardCards p, .dashboardCards h2, .dashboardCards a {
    margin: 10px 0 0 0;
}

.gridContaner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.reviewRows {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
}

.quickActions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    background-color: var(--color-white);
    padding: 15px;
}

.quickActions h2 {
    margin: 10px 0;
}

.actionLinks {
    border: 2px solid var(--color-border);
    padding: 10px 25px;
    border-radius: 6px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.reviewRows {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    background-color: var(--color-white);
}

/* Review Cards */

.reviewCard {
    border-top: 2px solid var(--color-border);
    padding: 5px 10px 5px 20px;
}

.reviewDivCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.guestnameReview {
    margin: 0;
    margin-top: 15px;
}

.dateReview {
    margin: 0;
    margin-bottom: 20px;
    font-size: 15px;
    color: var(--color-accent-dark);
}

.reviewStar {
    text-align: right;
    margin-right: 10px;
}

.commentReview {
    margin: 0;
    margin-bottom: 20px;
}

.reviewProductLik {
    margin-bottom: 20px;
}

.productLink {
    background-color: var(--color-primary);
    padding: 5px;
    color: var(--color-white);
    border-radius: 6px;
    text-decoration: none;
}